<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 https://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context 
 	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- C-6: -->

	<context:annotation-config />

	
	<bean class="com.springlearn.c6_autowire.Address" name="address"> <!-- by using @Autowire name="", can be differ from class obj name  -->
		<property name="city">
			<value>lko</value>
		</property>
		<property name="state">
			<value>UP</value>
		</property>

	</bean>

	<!-- <bean class="com.springlearn.c6_autowire.Office" name="office" autowire="byName"/> 
		autowire="byName|byType|constructor" -->

	<!-- Not it is for @Autowire Anotation , no need to mention autowire="" -->
	<bean class="com.springlearn.c6_autowire.Office" name="office" />











</beans>