<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 https://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/context 
 	http://www.springframework.org/schema/context/spring-context.xsd
 	http://www.springframework.org/schema/util
 	http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- C-9: -->

	<!-- Initialization for data source -->
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/springlearn" />
		<property name="username" value="root" />
		<property name="password" value="1234" />
	</bean>


	<bean name="jdbcTemp"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="ds"></ref>
		</property>
	</bean>
	
	 <bean class="com.springlearn.dao.StudentDaoImpl" name="studentDao">
	 <property name="jdbcTemplate" ref="jdbcTemp" />
	
	</bean>
	
	
	
	
<!-- 	<bean name="jdbcTemp"
		class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="ds" /> -->


	<!-- Definition for studentJDBCTemplate bean -->
	<!-- <bean id="studentJDBCTemplate" class="com.tutorialspoint.StudentJDBCTemplate"> 
		<property name="dataSource" ref="dataSource" /> </bean> -->


</beans>